[Unit]
Description=Phil Discord Bot.

[Service]
Type=simple
ExecStart=/usr/bin/node /home/pi/Documents/philbot/src/index.js

[Install]
WantedBy=multi-user.target
